<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer my-6 mb-0 py-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">{{ "footer.get-in-touch"|trans }}</h4>
                <h2 class="text-primary mb-4"><img height="120" class="" src="{{ asset('images/logo/logo-white.png') }}" alt=""></h2>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, Berlin, Deutschland</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+49 1609 6205 012</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@okoho.de</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">{{ "footer.quick-links"|trans }}</h4>
                <a class="btn btn-link" href="{{ path('about', {'_locale': 'de'}) }}">{{ "footer.about"|trans }}</a>
                <a class="btn btn-link" href="{{ path('contact', {'_locale': 'de'}) }}">{{ "footer.contact"|trans }}</a>
                <a class="btn btn-link" href="">{{ "footer.service"|trans }}</a>
                <a class="btn btn-link" href="">{{ "footer.term-condition"|trans }}</a>
                <a class="btn btn-link" href="">{{ "footer.support"|trans }}</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">{{ "footer.popular-links"|trans }}</h4>
                <a class="btn btn-link" href="">{{ "footer.about"|trans }}</a>
                <a class="btn btn-link" href="">{{ "footer.contact"|trans }}</a>
                <a class="btn btn-link" href="">{{ "footer.service"|trans }}</a>
                <a class="btn btn-link" href="">{{ "footer.term-condition"|trans }}</a>
                <a class="btn btn-link" href="">{{ "footer.support"|trans }}</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">{{ "footer.newsletter"|trans }}</h4>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-3 border-0" placeholder="Your Email Address">
                        <button class="btn btn-primary">{{ "button.sign-up"|trans }}</button>
                    </div>
                </form>
                <h6 class="text-white mt-4 mb-3">{{ "footer.follow-us"|trans }}</h6>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-light me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Copyright Start -->
<div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a href="#">OKOHO</a>, All Right Reserved.
            </div>
            <div class="col-md-6 text-center text-md-end">
                Designed By <a href="#">creativ-soft</a>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
