{% extends 'base.html.twig' %}
{% block title %}
OKOHO| {{ "title.about"| trans }}
{% endblock %}
{% block body %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Abous Us</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">About</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- About Start -->
    {% include 'includes/about-fact.html.twig' %}
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5 mt-4">
                <div class="col-lg-6 wow fadeInUp border border-0.5" data-wow-delay="0.5s">
                    <h1 class="display-6 mb-4 ">{{ "abouts.h2"|trans }}</h1>
                    <div class="h-100">
                        <p class="mb-4">{{ "abouts.p2"|trans }}</p>
                          <h1 class="display-6 mb-4">{{ "abouts.h3"|trans }}</h1>
                        <p class="mb-4">{{ "abouts.p31"|trans }}</p>
                         <h1 class="display-6 mb-4">{{ "abouts.h4"|trans }}</h1>
                        <p class="mb-4"><b>{{ "abouts.bold.p1"|trans }}</b>{{ "abouts.p41"|trans }}</p>
                        <p class="mb-4"><b>{{ "abouts.bold.p2"|trans }}</b>{{ "abouts.p42"|trans }}</p>
                        <p class="mb-4"><b>{{ "abouts.bold.p3"|trans }}</b>{{ "abouts.p43"|trans }}</p>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100" src="{{ asset('images/femme-afro-americaine-travail-medecin-tenant-bouteille-medicament.jpg') }}" alt="" style="object-fit: cover;">
                        <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="{{ asset('images/logo/logo_background.png') }}" alt="" style="width: 200px; height: 200px;">
                    </div>
                    <i class="fa fa-star text-primary ms-5"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5 mt-4">
                <div class="col-lg-6 wow fadeInUp border border-0.5" data-wow-delay="0.5s">
                    <h1 class="display-6 mb-4 ">{{ "abouts.h5"|trans }}</h1>
                    <div class="h-100">
                       <h1 class="display-6 mb-4"></h1>
                        <p class="mb-4">{{ "abouts.p51"|trans }}</p>
                        <p class="mb-4">{{ "abouts.p52"|trans }}</p>
                        <p class="mb-4">{{ "abouts.p53"|trans }}</p>
                        <p class="mb-4">{{ "abouts.p54"|trans }}</p>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100" src="{{ asset('images/receptionniste-asiatique-aidant-patient-reception-signant-documents-rapport-medical-pour-recevoir-assistance-assurance-avant-rendez-vous-controle-femme-remplissant-formulaire-inscription-pour-faire-examen.jpg') }}" alt="" style="object-fit: cover;">
                        <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="{{ asset('images/logo/logo_background.png') }}" alt="" style="width: 200px; height: 200px;">
                    </div>
                    <i class="fa fa-star text-primary ms-5"></i>
                </div>
            </div>
        </div>
           
    </div>
    <!-- Page Header End -->
    
    <!-- About End -->


    <!-- Team Start -->
    {% include 'includes/team.html.twig' %}
    <!-- Team End -->
{% endblock %}





