{% extends 'base.html.twig' %}



{% block title %}
  OKOHO|  {{ 'header.nav.service1'|trans }}
{% endblock %}

{% block body %}
  <!-- Page Header Start -->
  <div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
      <h1 class="display-4 text-white animated slideInDown mb-4">{{ 'header.nav.service1'|trans }}</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb justify-content-center mb-0">
          <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
          <li class="breadcrumb-item"><a class="text-white" href="#">Services</a></li>
          <li class="breadcrumb-item text-Secondary active" aria-current="page">{{ 'header.nav.service1'|trans }}</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->
  <div class="container-xxl py-6">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="{{ asset('images/ouvrier-dans-usine.jpg') }}" alt="" style="object-fit: cover;">
            <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="{{ asset('images/logo/logo_background.png') }}" alt="" style="width: 200px; height: 200px;">
          </div>
                <i class="fa fa-star text-primary ms-5"></i>

        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="h-100">
            <h6 class="text-primary text-uppercase mb-2">{{ "header.nav.service1"|trans }}</h6>
            <h1 class="display-6 mb-4">{{ "header.nav.service1"|trans }}</h1>
            <p> {{ "services.service1.p_1"|trans }}</p>
            <p class="mb-4">{{ "services.service1.p_2"|trans }}</p>
          </div>
        </div>
      </div>
      <div class="row g-5 mt-4">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="h-100">
            <p class="mb-4">{{ "services.service1.p_3"|trans }}</p>
            <p class="mb-4">{{ "services.service1.p_4"|trans }}</p>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="{{ asset('images/receptionniste-asiatique-aidant-patient-reception-signant-documents-rapport-medical-pour-recevoir-assistance-assurance-avant-rendez-vous-controle-femme-remplissant-formulaire-inscription-pour-faire-examen.jpg') }}" alt="" style="object-fit: cover;">
            <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="{{ asset('images/logo/logo_background.png') }}" alt="" style="width: 200px; height: 200px;">
          </div>
                <i class="fa fa-star text-primary ms-5"></i>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
