{% extends 'base.html.twig' %}
{% block title %}
    OHOKO| {{ "title.immigration"| trans }}
{% endblock %}
{% block body %}

<!-- Page Header Start -->
    <div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-10">{{ 'header.nav.service7'|trans }}</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">{{ 'header.nav.service7'|trans }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-10 wow fadeInUp" data-wow-delay="0.5s justify-content-center mb-0">
                    <div class="h-100">
                        {# s<h6 class="text-primary text-uppercase mb-2 center"><center>{{ "header.nav.service7"|trans }}</center></h6> #}
                        <h1 class="display-6 mb-4"><center>{{ "header.nav.service7"|trans }}</center></h1>
                        <p> {{ "services.service7.t_1"|trans }}</p>
                        <p class="mb-4">{{ "services.service7.h2_2"|trans }}</p>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_3"|trans }}</p>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_4"|trans }}</p>
                        <p class="mb-10"> {{ "services.service7.h1_1"|trans }}</p>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_19"|trans }}</p>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_21"|trans }}</p>
                        <p> {{ "services.service7.h1_3"|trans }}</p>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_17"|trans }}</p>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_29"|trans }}</p>
                        <ol>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_39"|trans }}</p>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_5"|trans }}</p>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_6"|trans }}</p>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_7"|trans }}</p>
                        </ol>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_8"|trans }}</p>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_9"|trans }}</p>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_10"|trans }}</p>
                        <ul> 
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_11"|trans }}</p>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_12"|trans }}</p>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_13"|trans }}</p>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_14"|trans }}</p>
                        </ul>
                        <p class="mb-4 justify-content-center">{{ "services.service7.t_15"|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



