<div class="bg-primary text-center p-5">
    <h1 class="mb-4">{{ "contact.h1"|trans }}</h1>
    <form method="post" >
        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control border-0 bg-light" name="name" id="name" placeholder="{{ 'contact.name'|trans }}">
                    <label for="name">{{ 'contact.name'|trans }}</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="email" class="form-control border-0 bg-light" name="email" id="email" placeholder="{{ 'contact.email'|trans }}">
                    <label for="email">{{ 'contact.email'|trans }}</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control border-0 bg-light" name="entrepise" id="subject" placeholder="{{ 'contact.entrepise'|trans }}">
                    <label for="subject">{{ 'contact.entrepise'|trans }}</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control border-0 bg-light" name="subject" id="subject" placeholder="Subject">
                    <label for="subject">{{ 'contact.sujet'|trans }}</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control border-0 bg-light" placeholder="Leave a message here" name="message" id="message" style="height: 150px"></textarea>
                    <label for="message">{{ 'contact.message'|trans }}</label>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary py-3 px-5" type="submit">{{ 'contact.button'|trans }}</button>
            </div>
        </div>
    </form>
</div>
