<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="{{ asset('images/femme-africaine-assise-classe-informatique-dame-lunettes-sourit-camera-etudiante-assise-ordinateur.jpg') }}" alt="" style="object-fit: cover;">
                    <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="{{ asset('images/logo/logo_background.png') }}" alt="" style="width: 200px; height: 200px;">
                
                </div>
                <i class="fa fa-star text-primary ms-5"></i>
                
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100 ">
                    <h6 class="text-primary text-uppercase mb-2">{{ "about-fact.h6"|trans }}</h6>
                    <h1 class="display-6 mb-4 ">{{ "about-fact.h7"|trans }}</h1>
                        <p>{{ "abouts.h1"|trans}}</p>
                        <p><b>{{ "abouts.p111"|trans}}</b>{{ "abouts.p1"|trans}} </p>
                        <ul class="mb-4 accordion-body accordion-flush ">
                        <li><strong>{{ "abouts.p1"|trans}}</strong><strong>{{ "abouts.p112"|trans}}</strong>{{ "abouts.p2"|trans}}<button class="accordion-button collapsed bg-primary text-light border-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">{{ "button.more"|trans}}</button></li>
                        <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <li><strong>{{ "abouts.p113"|trans}}</strong>{{ "abouts.p3"|trans}}</li>
                                <li><strong>{{ "abouts.p114"|trans}}</strong>{{ "abouts.p4"|trans}}</li>
                                <li><strong>{{ "abouts.p115"|trans}}</strong>{{ "abouts.p5"|trans}}</li>
                            </div>
                        </div>
                            <p> {{ "abouts.p6"|trans}}</li></p>
                        </ul>
                    </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div