<div class="container-xxl py-0">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h6 class="text-primary text-uppercase mb-2">{{ "team.h6" |trans }}</h6>
            <h1 class="display-6 mb-4">{{ "team.h1" |trans }}</h1>
        </div>
        <div class="row g-0 team-items">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" style="width: 350px; height:225px" src="{{ asset('images/logo_awo-lippe.jpg') }}" alt="">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://www.awo-lippe.de/angebote/pflege-betreuung/pflege-und-betreuungsdienste/"><i class="fas fa-link"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1 d-none" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1 d-none" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">AWO Pflege- und Betreuungsdienste</h5>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" style="width: 350px; height:225px" src="{{ asset('images/logo_GuSglass.jpg') }}" alt="">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://www.gus-germany.com/"><i class="fas fa-link"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1 d-none" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1 d-none" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">GuS glass + safety GmbH & Co. KG</h5>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" style="width: 350px; height:225px" src="{{ asset('images/logo_PHYSIOPRAXIS-KLENKE.jpg') }}" alt="">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://physiopraxis-klenke.de/"><i class="fas fa-link"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1 d-none" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1 d-none" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">PHYSIOPRAXIS <br/> KLENKE</h5>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <img class="img-fluid" style="width: 350px; height:225px" src="{{ asset('images/logo_phoenix-contact.jpg') }}" alt="">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href="https://www.phoenixcontact.com/de-de/"><i class="fas fa-link"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1 d-none" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1 d-none" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">PHŒNIX <br/> CONTACT</h5>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
