<div class="container-xxl py-6">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h6 class="text-primary text-uppercase mb-2">{{ "team.h6" |trans }}</h6>
            <h1 class="display-6 mb-4">{{ "team.h1" |trans }}</h1>
        </div>
        <div class="row g-0 team-items">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <a href=" https://www.awo-lippe.de/angebote/pflege-betreuung/pflege-und-betreuungsdienste/"><img class="img-fluid" src="{{ asset('images/IMG-20230910-WA0013.jpg') }}" alt=""></a>
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <a href=" https://www.awo-lippe.de/angebote/pflege-betreuung/pflege-und-betreuungsdienste/"><div class="bg-light text-center p-4">
                        <h5 class="mt-2">Pflege und betreuungsdienste</h5>
                        <span>Partner</span>
                    </div></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <a href="https://www.gus-germany.com/"><img class="img-fluid" src="{{ asset('images/IMG-20230910-WA0012.jpg') }}" alt=""></a>
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <a href="https://www.gus-germany.com/"><div class="bg-light text-center p-4">
                        <h5 class="mt-2">Gus glass safty</h5>
                        <span>Partner</span>
                    </div></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <a href="https://physiopraxis-klenke.de/"><img class="img-fluid" src="{{ asset('images/IMG-20230910-WA0010.jpg') }}" alt=""></a>
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <a href="https://physiopraxis-klenke.de/"><div class="bg-light text-center p-4">
                        <h5 class="mt-2">PHYSIOPRAXIS KLENKE</h5>
                        <span>Partner</span>
                    </div></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                       <a href="https://www.phoenixcontact.com/de-de/"> <img class="img-fluid" src="{{ asset('images/IMG-20230910-WA0011.jpg') }}" alt=""></a>
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <a href="https://www.phoenixcontact.com/de-de/"><div class="bg-light text-center p-4">
                        <h5 class="mt-2">PHOENIX CONTACT</h5>
                        <span>Partner</span>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</div>
